* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}
.nav-bar {
  background: #224581;
  text-align: center;
  font-size: 20px;
  color: aliceblue;
  padding: 10px;
}

input {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  outline: none;
}

button {
  border: 0px;
  padding: 10px;
  margin: 2px;
  border-radius: 10px;
  outline: none;
  background: #eb8c00;
  color: aliceblue;
}

button:hover {
  background: #462a00;
}

.contact_list {
  background: rgb(244, 230, 230);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.contact {
  background: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.contact_adder {
  background: rgb(196, 194, 194);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.click {
  border-radius: 10px;
}
